.gradle/
.idea/
bin/
gen/
out/
build/
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.so
*.apk
*.aar
*.ap_
*.aab
*.dex
local.properties
proguard/
.navigation/
captures/
*.iml
vcs.xml
